//
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;700&display=swap');
html, body {
    background-color: #fff;
    color: #333B38;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #13A56E; 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0f8356; 
  }
input:focus,a{
    outline: none;
}
#app{
    display: flex;
}
#map{
    height: 100vh;
    flex-grow: 2;
    .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
        &:after, &:before{
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after{
            border-top-color: white;
            border-width: 10px;
            left: 48px;
            margin-left: -10px;
        }
        &:before{
            border-top-color: #cccccc;
            border-width: 11px;
            left: 48px;
            margin-left: -11px;
        }
        .ol-popup-closer {
            text-decoration: none;
            position: absolute;
            top: 2px;
            right: 8px;
            &:after{
                content: "✖";
            }
        }
    }
}
.sideBar{
    background: #fff;
    width: 350px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    img.logo{
        max-width: 150px;
        margin: 15px auto 15px;
        display: table;
    }
    .scrollArea{
        position: absolute;
        top: 85px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;
    }
    .form-group{
        // display: flex;
        // justify-content: space-around;
    }
    .form-control{
        width: 100%;
        border-radius: 30px;
        border: none;
        background: #f2f2f2;
        padding:5px 10px;
        box-sizing: border-box;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
    select.form-control{
        padding: 5px 20px 5px 10px;
        height: auto;
    }
    #accordion{
        .optionHead{
            margin: 0 0 20px 0;
            padding: 10px 20px 10px 10px;
            position: relative;
            text-decoration: none;
            width: 100%;
            display: block;
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            transition: all 0.3s ease-in-out;
            background: #333B38;
            border-radius: 30px;
            border-left: 3px solid #13A56E;
            border-bottom: 1px solid #13A56E;
            i{
                position: absolute;
                right: -8px;
                top: 12px;
                color: #fff;
                background: #13A56E;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 22px;
                padding-left: 2px;
                border-radius: 50%;
                font-size: 12px;
                transition: all 0.3s ease-in-out;
            }
            &.collapsed{
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                background: #fff;
                color: #333B38;
                i{
                    transform: rotate(-90deg);
                }
            }
            // &::after{
            //     content: "";
            //     width: 3px;
            //     height: 100%;
            //     background: #13A56E;
            //     position: absolute;
            //     bottom: 0;
            //     left: 0;
            // }
        }
        .collapse{
            margin-bottom: 20px;
        }
    }
}